{
  "github": "http://github.com/",
  "gitlab": "git@gitlab.local:",
  "base_url": "http://gitlab.local/api/v3",
  "private_token": "gyhzxARwhpt23Y8Qogbg",
  "params" : {
    "issues_enabled" : false,
    "wall_enabled" : false,
    "merge_requests_enabled" : false,
    "wiki_enabled" : false,
    "snippets_enabled" : false,
    "public" : true
  }
}
